Indego_Trips_2015Q2.zip
Indego_Trips_2015Q3.zip
Indego_Trips_2015Q4.zip
Indego_Trips_2016Q1.zip
Indego_Trips_2016Q2.zip
Indego_trips_Q4_2016.zip
Q3_2016_trips.zip
indego-trips-2017-q3.csv.zip
indego-trips-2017-q4.csv.zip
indego_gbfs_trips_Q1_2017.zip
indego_gbfs_trips_Q2_2017.csv.zip
